section.sidebar
	label(for="sidebar-checkbox",class="sidebar-toggle")

	aside
		p Code MacGuyver @ <a href="http://stackexchange.com" target="_blank">StackExchange</a>
		p I've been known to play and record music.

	section
		nav
			ul
				li: a(href="/") Home
				li: a(href="/blog/archives") Archives

	section
		include _recent
