section.sidebar-wrap
	label(for="sidebar-checkbox",class="sidebar-toggle")
	section.sidebar

		aside
			p Code MacGuyver @ <a href="http://stackexchange.com" target="_blank">StackExchange</a>
			p I've been known to play and record music.

		include _search

		include _recent

		include _stackoverflow

		include _github

		include _twitter
