section.stackoverflow
	a(href='http://stackoverflow.com/users/115049/rossipedia')
		img(src='http://stackoverflow.com/users/flair/115049.png?theme=dark',
			width='208',
			height='58',
			alt='profile for rossipedia at Stack Overflow, Q&A for professional and enthusiast programmers',
			title='profile for rossipedia at Stack Overflow, Q&A for professional and enthusiast programmers')
