@media only screen and (max-width : 480px) {
  .masthead {
    header {
      padding: .5rem;
      text-align: center;

      h1 { font-size: 1.4rem; }
      h2 { font-size: .8rem; }
    }
  }

  section.main {
    > article > header {
      font-family: @sans;
      time, a[rel=author] {
        font-size: .7rem;
      }
    }

    h1 {
      font-size: 1rem;
    }

    time {
      font-size: .5rem;
    }
  }

  p {
    font-size: .9rem;
  }

}
