html, body {
  color: @text-color;
}

.masthead {
  border-bottom: 1px solid #eee;
  header {
    h1 a {
      color: @header-link-color;

      -webkit-transition: all @transition-time @transition-ease;
         -moz-transition: all @transition-time @transition-ease;
              transition: all @transition-time @transition-ease;

      &:hover {
        color: @header-link-active;
        text-shadow: 0 .1rem .2rem rgba(0,0,0,0.4);
      }
    }
  }
}


main {

  > article > header {
    border-bottom: @header-border-bottom;
    h1 { border-bottom: none; }

    time {
      color: #ccc;
      &:before {
        content: "Posted ";
      }
    }

    a[rel=author] {
      color:  #ccc;

      &:before {
        content: " by ";
      }

      &:hover {
        text-decoration: none;
        color: #ccc;
      }
    }
  }

  a {
    text-decoration: none;
    color: @link-color;
    border-radius: .3rem;

    &:hover {
      text-decoration: underline;
    }
  }


  h1,h2,h3,h4,h5,h6 {
    border-bottom: @header-border-bottom;
  }

  code {
    background-color: rgba(0,0,0,.1);
    color: @code-color;
    text-shadow: 0 1px #f2f2f2;
  }

  pre {
    border: 1px solid @pre-border-color;
    margin-bottom: 1rem;
    background-color: @pre-back-color;

    code {
      text-shadow: 0 1px white;
    }
  }

  table {

    thead {
      border-bottom: 1px solid @table-border-color;
    }

    tbody {
      border-style: solid;
      border-width: 1px;
      border-collapse: collapse;
      border-color: @table-border-color;
      tr:nth-child(odd) {
        background-color: @pre-back-color;
      }
    }
  }

  blockquote {
    border-left: 3px solid @pre-border-color;
    background-color: @pre-back-color;
    color: lighten(@text-color, 10%);
    font-style: italic;
    text-shadow: 0 1px white;
    position: relative;

    &:before {
      content: '“';
      display: inline;
      position: absolute;
    }
  }
}

.archives {


  .year {
    border-bottom: 1px solid @pre-border-color;
  }

  .month {
    border-bottom: none;
  }

  time {
    color: #aaa;
  }
}


.wrap > footer {
  border-top: 1px solid #eee;

  a {
    text-decoration: none;
    color: @link-color;
  }

  ul.nav {

    li a {
      border: 1px solid @pre-border-color;
      border-radius: .3rem;

      &:hover {
        background-color: fade(@pre-back-color, 90%);
        box-shadow: 0 -2rem 4rem -2rem darken(@pre-back-color,20%) inset;
      }

      &[disabled] {
        color: @disabled-color;
        border-color: @disabled-color;
      }
    }
  }
}
