
@serif: Constantia, Georgia, serif;
@sans: Helvetica Neue, "Segoe UI", "Arial", sans-serif;
@mono: monospace;

@base-font-size: 16px;

@orange: #fe7a15;

@text-color: #444;

@header-link-color: #444;
@header-link-active: darken(@orange, 30%);

@link-color: darken(@orange, 20%);
@link-active: darken(@orange, 30%);

@transition-time: .25s;
@transition-ease: ease-in-out;

@pre-back-color: #F5F2F0;
@pre-border-color: darken(@pre-back-color, 10%);

@code-color: darken(teal, 5%);

@table-border-color: #ddd;

@sidebar-width: 20rem;

@sidebar-padding: 1rem;
@disabled-color: #eee;


@header-border-bottom: 1px solid rgba(0,0,0,.1);

.sb-padded() {
  .sb-padded(@sidebar-padding);
}

.sb-padded(@top, @bottom) {
  padding-left: @sidebar-padding;
  padding-right: @sidebar-padding;
  padding-top: @top;
  padding-bottom: @bottom;
}

.sb-padded(@vert) {
  .sb-padded(@vert, @vert);
}


.transition(@property; @duration; @ease; @delay) {
  -webkit-transition-property: @property;
     -moz-transition-property: @property;
          transition-property: @property;

  -webkit-transition-duration: @duration;
     -moz-transition-duration: @duration;
          transition-duration: @duration;

  -webkit-transition-timing-function: @ease;
     -moz-transition-timing-function: @ease;
          transition-timing-function: @ease;

  -webkit-transition-delay: @delay;
     -moz-transition-delay: @delay;
          transition-delay: @delay;
}

.transition(@property; @duration; @ease) {
  .transition(@property; @duration; @ease; 0s);
}
