doctype html
html
	head
		link(rel="stylesheet",type="text/css",href="/styles/main.css")
	body
		input(type="checkbox",class="sidebar-checkbox",id="sidebar-checkbox")
		.wrap
			include _sidebar
			.container.masthead
				header
					h1: a(href="/") Rossipedia
					h2 Code, music, and other junk
