extends _main

block head
	link(rel="canonical",href=post.meta.href)

block content
	article
		include ../includes/_postheader

		section.content
			!= post.getContent()

		section.comments
			include ../includes/_disqus

block footer
	ul.nav
		- var prev = post.prev ? post.prev.urlpath : undefined;
		- var next = post.next ? post.next.urlpath : undefined;
		li: a(href=prev, disabled=(prev===undefined?"disabled":undefined)) &lt;
		li: a(href=blog.options.archivesUrl) Archives
		li: a(href=next, disabled=(next===undefined?"disabled":undefined)) &gt;

