extends _main

block title
	= blog.options.siteName

block content
	each post in posts
		article
			include ../includes/_postheader

			section.content
				!= post.getTeaser()

				p: a.readmore(href=post.meta.urlpath) Read more...

block footer
	ul.nav
		li: a(href=blog.options.archivesUrl) Archives

